<header>
  <section id="header-container">
    <div id="header-container-left">
      Mad Parks
    </div>
    <div id="header-container-right">
      <div class="header-container-button">
        <form  action="/maps" method="GET">
          <button type="submit" class="btn btn-outline-dark">Home</button>
        </form>
      </div>
      <div class="header-container-button">
        <form  action="/profile" method="GET">
          <button type="submit" class="btn btn-outline-dark">Profile
          </button>
        </form>
      </div>
      <% if (!userId){ %>
        <div class="header-container-button">
          <form  action="/register" method="GET">
            <button type="submit" class="btn btn-outline-dark">Register</button>
          </form>
        </div>
        <div class="header-container-button">
          <form action="/login" method="GET">
            <button type="submit" class="btn btn-outline-dark">Log In</button>
          </form>
        </div>
        <% } else { %>
        <div class="header-container-button">
          <form action="/logout" method="POST">
            <button type="submit" class="btn btn-outline-dark">Log Out</button>
          </form>
        </div>
        <!-- <% if (userName) { %> -->
          <div><%= userName %></div>
        <!-- <% } %> -->



        <% } %>


      </div>
    </div>
  </section>
</header>
