<header>
  <section id="header-container">
    <div id="header-container-left">
      Mad Parks
    </div>
    <div id="header-container-right">
      <div class="header-container-button">
        Sign Up
      </div>
      <div class="header-container-button">
        Log In

      </div>
    </div>
  </section>
</header>
