#header-container {
  display: flex;
  justify-content: space-between;
  height: 5em;
  padding: 1em;
  background-color: #33a739;
}

#header-container-left {
  display: flex;
  align-items: center;
  color: #151f68;
  font-size: 2rem;
}

#header-container-right {
  display: flex;
  align-items: center;
}

.header-container-button {
  display: flex;
  align-items: center;
  max-height: 2em;
  margin: 1em;
  padding: 1em;
  font-size: 1rem;
  color: #151f68;
}

#loggedIn {
  color: white;
  font-weight: bold;
}

.body-container {
  padding: 1em;
  background-color: #eeeeee;
}

.section-title {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: black;
}

#trending-maps {
  display: flex;
}

.map-icon {
  height: 5em;
  width: 9em;
  margin: 1em;
  border-radius: 0.5em;
  background-color: #a8e87b;
}

#filter-button {
  margin: 1em;
}

.map-container {
  max-height: 300px;
}

.profile-body-container {
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
}

.profile-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

#mapid {
  height: 400px;
}

.profile-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5em;
  width: 13em;
  margin: 1em;
  border-radius: 0.5em;
  font-size: 1em;
  color: white;
  background-color: #34a0a4;
}

.btn-outline-dark {
  width: 100%;
}

#addButton {
  width: 57%;
  text-align: end;
  padding-bottom: 1em;
}
