$primary-background-color: rgb(51, 167, 57);
$secondary-background-color: rgb(238, 238, 238);
$primary-icon-color: rgb(168, 232, 123);
$secondary-icon-color: rgb(52, 160, 164);


$primary-text-color: rgb(21, 31, 104);
$secondary-text-color: rgb(0, 0, 0);
$tertiary-text-color: rgb(255, 255, 255);

$primary-border-color: rgb(97, 104, 98);

#header-container {
  display: flex;
  justify-content: space-between;
  height: 5em;
  padding: 1em;
  background-color: $primary-background-color;
}

#header-container-left {
  display: flex;
  align-items: center;
  color: $primary-text-color;

  font-size: 2rem;
}

#header-container-right {
  display: flex;
  align-items: center;
}

.header-container-button {
  display: flex;
  align-items: center;
  max-height: 2em;
  margin: 1em;
  padding: 1em;

  font-size: 1rem;
  color: $primary-text-color;
}


////////////////////////
//END OF HEADER STYLES//
////////////////////////

.body-container {
  padding: 1em;
  background-color: $secondary-background-color;
}

.section-title {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: $secondary-text-color;
}

#trending-maps {
  display: flex;
}

.map-icon {
  height: 5em;
  width: 9em;
  margin: 1em;
  border-radius: 0.5em;
  background-color: $primary-icon-color
}

#filter-button {
  margin: 1em;
}

.map-container {
  max-height: 300px;
}

///////////
//Profile//
///////////

.profile-body-container {
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
}
.profile-column {
  display: flex;
  flex-direction: column;
  max-width: 13em;
}
#mapid {
  height: 400px;
}


.profile-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5em;
  width: 13em;
  margin: 1em;
  border-radius: 0.5em;
  font-size: 1em;
  color: $tertiary-text-color;
  background-color: $secondary-icon-color
}
